/* REGOLE GENERALI */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width:768px)  and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .fas {
    display: none;
  }
}

.mb_color-blue {
  color: #0d71ff;
}
a {
  color: #096fff;
  text-decoration: none !important;
}

/* TITOLO / CONTENUTO - SEZIONI */
.row .mb_title {
  text-align: center;
  margin-bottom: 40px;
}
.row .mb_title h2 {
  margin-bottom: 15px;
  color: #031c4e;
  font-weight: bold;
}
.row .mb_title p {
  color: grey;
  font-size: 20px;
}
.row .mb_content h4{
  font-weight: bold;
  color: #031c4e;
}
.row .mb_content p{
  color: grey;
}
.row .mb_content a{
  font-size: 17px;
}

/* HEADER */
header {
  padding: 5px 0;
  background-color: white;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-brand {
  padding: 10px;
}
.navbar-brand img {
  max-height: 100%;
}
.nav:first-child, .navbar-nav:first-child {
  padding-left: 120px;
}
.fas {
  margin-left: 1px;
}
@media screen and (max-width: 992px) {

  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .nav:first-child, .navbar-nav:first-child {
    padding-left: 0;
  }
}
.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: #041b4b;
}

/* JUMBOTRON */
#mb_jumbotron {
  padding: 4% 0;
  background-image: url("../img/jumbo-bg.jpg");
  background-size: cover;
}
#mb_jumbotron .mb_left {
  padding: 0;
  color: white;
}
.mb_left.jumbotron {
  background-color: transparent;
}
#mb_jumbotron .mb_left h1 {
  width: 95%;
  font-size: 58px;
  font-weight: bolder;
}
@media (max-width:992px) {
  #mb_jumbotron .mb_left h1 {
    font-size: 40px;
  }
}
.jumbotron {
  padding: 25px 10px;
}
.container .jumbotron, .container-fluid .jumbotron {
  padding-left: 10px;
  padding-right: 10px;
}
.mb_right.jumbotron {
  text-align: center;
  background-color: white;
}
#mb_jumbotron .mb_right h2 {
  margin: 20px 0;
  font-weight: bolder;
}
#mb_jumbotron .mb_right h2:last-child {
  color: #0d71ff;
}
.mb_right input {
  margin: 20px 0;
}
.mb_right .form-group a {
  display: block;
  padding: 5px 0;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
#mb_jumbo-register-btn,
#mb_jumbo-google-login {
  text-decoration: none;
}
#mb_jumbo-register-btn {
  background-color: #579aff;
}
#mb_jumbo-google-login {
  position: relative;
  border: 1px solid lightgrey;
  color: grey;
}
#mb_jumbo-google-login img {
  position: absolute;
  max-height: 70%;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* MAIN */
main > section {

  /* debug */
  background-color: lightgreen;
  border: 1px solid black;

}

/* CUSTOMERS */
#mb_customers {
  padding: 2% 0;
  background-color: #f3f5f9;
}
#mb_customers .row > div {
  text-align: center;
}
#mb_customers .row > div > h4 {
  margin-bottom: 30px;
  color: grey;
  font-weight: bold;
}
#mb_customers .row > div > a {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
}
#mb_customers .row > div img {
  max-width: 100%;
  transform: scale(1.2);
}

/* DEPLOY */
#mb_deploy {
  padding: 3% 0;
  background-color: white;
}
#mb_deploy #mb_deploy-list {
  padding-left: 60px;
}
@media all and (max-width:992px) {
  #mb_deploy #mb_deploy-list {
    padding-left: 0;
  }
  #mb_deploy #mb_deploy-list ul {
    padding-left: 15px;
    margin-bottom: 20px;
  }
}
#mb_deploy #mb_deploy-list ul li {
  padding: 15px 10px;
  list-style: none;
  font-size: 20px;
  border-left: 2px solid grey;
  color: grey;
}

/* CAROUSEL INFO */
.mb_carousel-info {
  padding: 3% 0;
  text-align: center;
  background-color: #f3f5f9;
}
.carousel-caption {
  padding: 0 0;
  color: #031c4e;
}
.carousel-indicators {

}
.carousel-indicators li {
  border: 2px solid #031c4e;

}

/* FEATURES */
#mb_features {
  padding: 3% 0;
  background-color: white;
}

/* TABLE DATA */
#mb_table-data {
  padding: 3% 0;
  background-color: #003ab7;
  min-height: 400px;
}
#mb_table-data .mb_title h2 {
  color: white;
}
#mb_table-data .row .mb_table {
}
#mb_table-data .row .mb_table td{
  padding: 10px 15px;
  color: white;
  border: none;
}
#mb_table-data .row .mb_table tr td:first-child {
  width: 15%;
}
#mb_table-data .row .mb_table tr td:nth-child(2) {
  width: 60%;
  color: lightgrey;
}
#mb_table-data .row .mb_table tr td:last-child {
  text-align: right;
  width: 25%;
}
#mb_table-data .row .mb_table tr,
#mb_table-data .row .mb_table tr{
  border-bottom: 1px solid white;
}
#mb_table-data .row .mb_table tr:last-child {
  border: none;
}
#mb_table-data .row .mb_table td a{
  color: #00b5cb;
}

/* FOOTER */
footer {

  /* debug */
  min-height: 250px;
  background-color: lightgreen;

}
